*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #add8e6;
    width: 100%;
    min-height: 200px;
}


.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

}

.navigator{
    background-color: #daa520;
    border: 1px dashed black;
    padding: 1em;
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

#dashedlogo{
    border: 1px dashed black;
    width: calc(100% / 3);
}

.secondconteiner{
    background-color: #00008b;
    width: 100%;
    min-height: 350px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallbox{
    background-color: #ee82ee;
    width: 60%;
    height: 300px;
    border: 1px dashed black;
}


.boxed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;
}


.firstmc{
    width: 50%;
    min-height: 350px;
    background-color: #1e90ff;
    border: 1px dashed black;
}

.secondmc{
    width: 30%;
    min-height: 350px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.flexmainContainer_2{
    flex-direction: row-reverse;
    background-color: #d3d3d3;
    
}

.lastmaincontainer{
    background-color: #d3d3d3;
}

.lastson{
    background-color: #228b22;
    min-height: 600px;
    width: 80%;
    border: 1px dashed black;
}

.firstfooter{
    background-color: #23272a;
    padding-top: 0.5em;

}

.leftcontainer{
    min-height: 450px;
    width: calc(80% / 3 * 1);
    background-color: #f08080;
}

.rightcontainer{
    min-height: 450px;
    width: calc(80% / 3 * 2);
    background-color: #20b2aa;
    display: flex;
}

#dashed{
    border: 1px dashed white;
    width: calc(100% / 4);
}

.secondfooter{
    background-color: #23272a;
    border-top: 1px solid white;
    padding-bottom: 0;
}

.lastlink{
    background-color: #7fffd4;
    width: 80%;
    padding: 2em;
}